body{
    
    display: grid;
    place-content: center;
    padding-top: 2.5cm;
}

.pokemon-card{
    background-color: lightslategray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    box-sizing: border-box;
    text-align: center;
}

.pokemon-info{
    
    background-color: springgreen;
    border-radius: 10px;
    padding: 10px;
}

.pokemon-image{

    max-width: 400px;
    border-radius: 30px;
    padding: 15px;
}

.pokemon-name{
    color:rgb(255, 255, 255);
    padding: 10px;

    
}